/CinemaApp/bin
/CinemaApp/obj
/CinemaApp.Data.Common/bin
/CinemaApp.Data.Common/obj
/CinemaApp.Data.Models/bin
/CinemaApp.Data.Models/obj
/CinemaApp.Data/bin
/CinemaApp.Data/obj
/CinemaApp.GCommon/bin
/CinemaApp.GCommon/obj
/CinemaApp.IntegrationTests/bin
/CinemaApp.IntegrationTests/obj
/CinemaApp.Services.AutoMapping/bin
/CinemaApp.Services.AutoMapping/obj
/CinemaApp.Services.Common/bin
/CinemaApp.Services.Common/obj
/CinemaApp.Services.Core/bin
/CinemaApp.Services.Core/obj
/CinemaApp.Services.Tests/bin
/CinemaApp.Services.Tests/obj
/CinemaApp.Web.Infrastructure/bin
/CinemaApp.Web.Infrastructure/obj
/CinemaApp.Web.Tests/bin
/CinemaApp.Web.Tests/obj
/CinemaApp.Web.ViewModels/bin
/CinemaApp.Web.ViewModels/obj
